body {
   text-align: center;
   background-color: #f0e8c5;
}

div {
   margin-top: 15px;
}

.button1and2 {
   display: flex;
   justify-content: center;
}

.button3and4 {
   display: flex;
   justify-content: center;
}

.section-style {
   margin-right: 25px;
   margin-left: 25px;
   background-color: white;
}